<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Kết quả bài thi</title>
    <link rel="stylesheet" type="text/css" href="/b21dccn541/style.css">
    <link rel="icon" href="../static/b21dccn541/favicon.ico" type="image/x-icon">
</head>
<body style="display: flex;">
    
    <header class="header-container">
        <div class="left-menu">
            <a href="exam.html" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
            <a href="exam.html" class="menu-item">Bài thi</a>
            <a href="acc_manager.html" class="menu-item">Sinh viên</a>
            <a href="statistic.html" class="menu-item">Thống kê</a>
        </div>
        <div class="right-menu">
            <a href="index.html" class="menu-item">Đăng xuất</a>
        </div>
    </header>
    <header class="header-container-mobile">
        <div class="left-menu">
            <a href="manage-exam.html" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
        </div>
        <div class="right-menu">
            <button  class="menu-item" id="menu-btn"><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <div class="mobile-menu" id="mobile-menu">
        <a href="exam.html">Bài thi</a>
        <a href="acc_manager.html">Sinh viên</a>
        <a href="statistic.html">Thống kê</a>
        <a href="index.html">Đăng xuất</a>
    </div> 




    <div class="khung">
            <div class="box info">
                <img src="../static/b21dccn541/usericon.png" alt="">
              <div style="display: flex; align-items: center;margin: 15px;">                
                <p style="padding-right: 2px;">Họ tên:  </p> 
                <div id="hotenkq"></div>
                </div>
                <div style="display: flex; align-items: center;margin: 15px;">                
                    <p style="padding-right: 2px;">MSV: </p>
                    <div id="msvkq"></div>
                    </div>
                 



            </div>



            <div class="box kq">
                <div style="margin: 20px;font-size: 30px;">Kết quả Triết</div>


                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 1: Chọn cách diễn đạt đúng về năng suất lao động</p>
                    <div class="box answer"  >A. Năng suất lao động là số sản phẩm được sản xuất ra trong doanh nghiệp </div>
                    <div class="box answer"  >B. Năng suất lao động là năng lực sản xuất của người lao động </div>
                    <div class="box answer"  id="true">C. Năng suất lao động là khả năng cụ thể lao động </div>
                    <div class="box answer"  id="selected">D. Cả A và B </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 2: Hãy chỉ ra nhận định đúng về chủ nghĩa tư bản độc quyền</p>
                    <div class="box answer"  id="true">A. Độc quyền không có khả năng và không bành trướng sang các lĩnh vực chính trị, xã hội </div>
                    <div class="box answer"  >B. Kết hợp với nhà nước hình thành độc quyền nhà nước chỉ phối quan hệ, đường lối đối nội với đối ngoại của quốc gia </div>
                    <div class="box answer"  id="selected">C. Không vì lợi ích của các tổ chức độc quyền, vì lợi ích của đại đa số nhân dân </div>
                    <div class="box answer"  >D. Không kết hợp với các nhân viên chính phủ để th để thực hiện mục đích lợi ích nhóm </div>
                </div> 
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 3: Hàng hóa có 2 thuộc tính giá í trị sử dụng và giá t trị bởi vì</p>
                    <div class="box answer"  >A. Lao động 2 của người sản xuất hàng hoá có tính ì hai mặt: lao động cụ thể và lao động trừu tượng hàng </div>
                    <div class="box answer"  >B.  Hai thuộc tính này gắn với hàng hoá </div>
                    <div class="box answer"  id="true">C. Hàng hoá có hai mặt: lao > động cụ thể và lao động trừu tượng </div>
                    <div class="box answer"  id="selected">D. Cả B và C </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 4: Chọn cách diễn đạt đúng về năng suất lao động</p>
                    <div class="box answer"  id="true">A. 1313 </div>
                    <div class="box answer"  >B. 1414 </div>
                    <div class="box answer"  id="selected">C. 1515 </div>
                    <div class="box answer"  >D. 1616 </div>
                </div>
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 5: Chọn cách diễn đạt đúng về năng suất lao động</p>
                    <div class="box answer"  >A. Năng suất lao động là số sản phẩm được sản xuất ra trong doanh nghiệp </div>
                    <div class="box answer"  >B. Năng suất lao động là năng lực sản xuất của người lao động </div>
                    <div class="box answer"  id="true">C. Năng suất lao động là khả năng cụ thể lao động </div>
                    <div class="box answer"  id="selected">D. Cả A và B </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 6: Hãy chỉ ra nhận định đúng về chủ nghĩa tư bản độc quyền</p>
                    <div class="box answer"  id="true">A. Độc quyền không có khả năng và không bành trướng sang các lĩnh vực chính trị, xã hội </div>
                    <div class="box answer"  >B. Kết hợp với nhà nước hình thành độc quyền nhà nước chỉ phối quan hệ, đường lối đối nội với đối ngoại của quốc gia </div>
                    <div class="box answer"  id="selected">C. Không vì lợi ích của các tổ chức độc quyền, vì lợi ích của đại đa số nhân dân </div>
                    <div class="box answer"  >D. Không kết hợp với các nhân viên chính phủ để th để thực hiện mục đích lợi ích nhóm </div>
                </div> 
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 7: Hàng hóa có 2 thuộc tính giá í trị sử dụng và giá t trị bởi vì</p>
                    <div class="box answer"  >A. Lao động 2 của người sản xuất hàng hoá có tính ì hai mặt: lao động cụ thể và lao động trừu tượng hàng </div>
                    <div class="box answer"  >B.  Hai thuộc tính này gắn với hàng hoá </div>
                    <div class="box answer"  id="true">C. Hàng hoá có hai mặt: lao > động cụ thể và lao động trừu tượng </div>
                    <div class="box answer"  id="selected">D. Cả B và C </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 8: Chọn cách diễn đạt đúng về năng suất lao động</p>
                    <div class="box answer"  id="true">A. 1313 </div>
                    <div class="box answer"  >B. 1414 </div>
                    <div class="box answer"  id="selected">C. 1515 </div>
                    <div class="box answer"  >D. 1616 </div>
                </div>
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 9: Hàng hóa có 2 thuộc tính giá í trị sử dụng và giá t trị bởi vì</p>
                    <div class="box answer"  >A. Lao động 2 của người sản xuất hàng hoá có tính ì hai mặt: lao động cụ thể và lao động trừu tượng hàng </div>
                    <div class="box answer"  >B.  Hai thuộc tính này gắn với hàng hoá </div>
                    <div class="box answer"  id="true">C. Hàng hoá có hai mặt: lao > động cụ thể và lao động trừu tượng </div>
                    <div class="box answer"  id="selected">D. Cả B và C </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 10: Chọn cách diễn đạt đúng về năng suất lao động</p>
                    <div class="box answer"  id="true">A. Năng suất lao động là số sản phẩm được sản xuất ra trong doanh nghiệp </div>
                    <div class="box answer"  >B. Năng suất lao động là năng lực sản xuất của người lao động </div>
                    <div class="box answer"  id="selected">C. Năng suất lao động là khả năng cụ thể lao động </div>
                    <div class="box answer"  >D. Cả A và B </div>
                </div>
                
            </div>

            




            <div class="box diem">
                <img class="returnarrow" src="../static/b21dccn541/returnarrow.png" alt=""
                     onclick="trove()"
                >
                <p style="margin: 15px;">Điểm: 7.5</p>
                <p>Số câu đúng: 7/10</p>




            </div>

    </div>


                <script >
var acc = [
    {
        id: "B21DCCN123",
        name: "Nguyễn Văn An",
        email: "annv@gmail.com",
        password: "nam123@",
        birthday: "15/09/2003"
    },
    {
        id: "B21DCCN345",
        name: "Đào Văn Bình",
        email: "binhdv@gmail.com",
        password: "binhdidj",
        birthday: "13/08/2003"

    },
    {
        id: "B21DCCN676",
        name: "Đào Mai Anh",
        email: "anhdm@gmail.com",
        password: "fdksafk",
        birthday: "25/10/2003"

    },
    {
        id: "B21DCCN444",
        name: "Dương Sỹ Long",
        email: "longds@gmail.com",
        password: "fh4567",
        birthday: "09/10/2003"

    },
    {
        id: "B21DCCN023",
        name: "Nguyễn Xuân Tuấn",
        email: "tuannx@gmail.com",
        password: "tuanghita",
        birthday: "15/05/2003"

    },
    {
        id: "B21DCCN356",
        name: "Đào Dương Huy",
        email: "huydd@gmail.com",
        password: "huy1234",
        birthday: "05/01/2003"

    },
    {
        id: "B21DCCN666",
        name: "Nguyễn Thế Duy",
        email: "duynt@gmail.com",
        password: "duythe1212",
        birthday: "14/03/2003"

    },
    {
        id: "B21DCCN464",
        name: "Dương Tuấn Hiệp",
        email: "hiepdt@gmail.com",
        password: "ghgh123gh",
        birthday: "31/08/2003"

    },
]


window.addEventListener("DOMContentLoaded", function(){
    var index=Math.floor(Math.random()*(8))
    var hotenkq = document.getElementById("hotenkq")
    var msvkq = document.getElementById("msvkq")
    var hoten=document.createElement('p')
    hoten.textContent=acc[index].name
var msv=document.createElement('p')
    msv.textContent=acc[index].id

    hotenkq.appendChild(hoten)
    msvkq.appendChild(msv)

})


                  function trove(){
                    window.location.href='../acc_manager.html'
                  }
                                  </script>

<script src="https://kit.fontawesome.com/983c1d6e7e.js" crossorigin="anonymous"></script>
<script>document.getElementById("menu-btn").addEventListener('click', ()=>{
    if(document.getElementById('mobile-menu').style.display=='none'){
        document.getElementById('mobile-menu').style.display='block';
    }
    else{
        document.getElementById('mobile-menu').style.display='none';
    }
}) 
</script>
</body>
</html>