<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Kết quả bài thi</title>
    <link rel="stylesheet" type="text/css" href="/b21dccn541/style.css">
    <link rel="icon" href="/b21dccn541/favicon.ico" type="image/x-icon">
</head>
<body style="display: flex;">
    
    <header class="header-container">
        <div class="left-menu">
            <a href="exam.html" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
            <a href="exam.html" class="menu-item">Bài thi</a>
            <a href="acc_manager.html" class="menu-item">Sinh viên</a>
            <a href="statistic.html" class="menu-item">Thống kê</a>
        </div>
        <div class="right-menu">
            <a href="index.html" class="menu-item">Đăng xuất</a>
        </div>
    </header>
    <header class="header-container-mobile">
        <div class="left-menu">
            <a href="manage-exam.html" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
        </div>
        <div class="right-menu">
            <button  class="menu-item" id="menu-btn"><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <div class="mobile-menu" id="mobile-menu">
        <a href="exam.html">Bài thi</a>
        <a href="acc_manager.html">Sinh viên</a>
        <a href="statistic.html">Thống kê</a>
        <a href="index.html">Đăng xuất</a>
    </div> 




    <div class="khung">
            <div class="box info">
                <img src="../static/b21dccn541/usericon.png" alt="">
              <div style="display: flex; align-items: center;margin: 15px;">                
                <p style="padding-right: 2px;">Họ tên:  </p> 
                <div id="hotenkq"></div>
                </div>
                <div style="display: flex; align-items: center;margin: 15px;">                
                    <p style="padding-right: 2px;">MSV: </p>
                    <div id="msvkq"></div>
                    </div>
                 



            </div>



            <div class="box kq">
                <div style="margin: 20px;font-size: 30px;">Kết quả Vật lý</div>


                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 1: Hiện tượng giao thoa ánh sáng chứng tỏ?
</p>
                    <div class="box answer"  >A. Tính chất gián đoạn của ánh sáng </div>
                    <div class="box answer"  >B. Ánh sáng là một sóng dọc </div>
                    <div class="box answer"  id="true">C. Bản chất sóng của ánh sáng </div>
                    <div class="box answer"  id="selected">D. Ánh sáng là một sóng ngang </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 2: Giao thoa ánh sáng là hiện tượng
</p>
                    <div class="box answer"  id="true">A. Gặp nhau của hai hay nhiều sóng ánh sáng tự nhiên </div>
                    <div class="box answer"  >B. Gặp nhau của hai hay nhiều sóng ánh sáng không kết hợp </div>
                    <div class="box answer"  id="selected">C. Gặp nhau của hai hay nhiều sóng ánh sáng kết hợp </div>
                    <div class="box answer"  >D. Gặp nhau của hai hay nhiều sóng ánh sáng phân cực </div>
                </div> 
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 3: Hai sóng ánh sáng kết hợp là</p>
                    <div class="box answer"  >A. Hai sóng có hiệu pha thay đổi theo thời gian
 </div>
                    <div class="box answer"  >B. Hai sóng có cùng tần số và hiệu quang lộ thay đổi theo thời gian
 </div>
                    <div class="box answer"  id="true">C. Hai sóng khác tần số và hiệu lộ không thay đôit theo thời gian </div>
                    <div class="box answer"  id="selected">D. Hai sóng có hiệu pha không đổi theo thời gian </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 4: Hiện tượng giao thoa ánh sáng chứng tỏ?
</p>
                    <div class="box answer"  id="true">A. Tính chất gián đoạn của ánh sáng </div>
                    <div class="box answer"  >B. Ánh sáng là một sóng dọc </div>
                    <div class="box answer"  id="selected">C. Bản chất sóng của ánh sáng </div>
                    <div class="box answer"  >D. Ánh sáng là một sóng ngang </div>
                </div>
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 5: Hiện tượng giao thoa ánh sáng chứng tỏ?
</p>
                    <div class="box answer"  >A. Tính chất gián đoạn của ánh sáng </div>
                    <div class="box answer"  >B. Ánh sáng là một sóng dọc </div>
                    <div class="box answer"  id="true">C. Bản chất sóng của ánh sáng </div>
                    <div class="box answer"  id="selected">D. Ánh sáng là một sóng ngang </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 6: Giao thoa ánh sáng là hiện tượng
</p>
                    <div class="box answer"  id="true">A. Gặp nhau của hai hay nhiều sóng ánh sáng tự nhiên </div>
                    <div class="box answer"  >B. Gặp nhau của hai hay nhiều sóng ánh sáng không kết hợp </div>
                    <div class="box answer"  id="selected">C. Gặp nhau của hai hay nhiều sóng ánh sáng kết hợp </div>
                    <div class="box answer"  >D. Gặp nhau của hai hay nhiều sóng ánh sáng phân cực </div>
                </div> 
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 7: Hai sóng ánh sáng kết hợp là</p>
                    <div class="box answer"  >A. Hai sóng có hiệu pha thay đổi theo thời gian
 </div>
                    <div class="box answer"  >B. Hai sóng có cùng tần số và hiệu quang lộ thay đổi theo thời gian
 </div>
                    <div class="box answer"  id="true">C. Hai sóng khác tần số và hiệu lộ không thay đôit theo thời gian </div>
                    <div class="box answer"  id="selected">D. Hai sóng có hiệu pha không đổi theo thời gian </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 8: Hiện tượng giao thoa ánh sáng chứng tỏ?
</p>
                    <div class="box answer"  id="true">A. Tính chất gián đoạn của ánh sáng </div>
                    <div class="box answer"  >B. Ánh sáng là một sóng dọc </div>
                    <div class="box answer"  id="selected">C. Bản chất sóng của ánh sáng </div>
                    <div class="box answer"  >D. Ánh sáng là một sóng ngang </div>
                </div>
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 9: Hai sóng ánh sáng kết hợp là</p>
                    <div class="box answer"  >A. Hai sóng có hiệu pha thay đổi theo thời gian
 </div>
                    <div class="box answer"  >B. Hai sóng có cùng tần số và hiệu quang lộ thay đổi theo thời gian
 </div>
                    <div class="box answer"  id="true">C. Hai sóng khác tần số và hiệu lộ không thay đôit theo thời gian </div>
                    <div class="box answer"  id="selected">D. Hai sóng có hiệu pha không đổi theo thời gian </div>
                </div>    
                <div class="box" id="question">
                    <p style="margin: 5px;">Câu 10: Hiện tượng giao thoa ánh sáng chứng tỏ?
</p>
                    <div class="box answer"  id="true">A. Tính chất gián đoạn của ánh sáng </div>
                    <div class="box answer"  >B. Ánh sáng là một sóng dọc </div>
                    <div class="box answer"  id="selected">C. Bản chất sóng của ánh sáng </div>
                    <div class="box answer"  >D. Ánh sáng là một sóng ngang </div>
                </div>
                
            </div>

            




            <div class="box diem">
                <img class="returnarrow" src="../static/b21dccn541/returnarrow.png" alt=""
                     onclick="trove()"
                >
                <p style="margin: 15px;">Điểm: 6 </p>
                <p>Số câu đúng: 6/10 </p>




            </div>

    </div>


                <script >
var acc = [
    {
        id: "B21DCCN123",
        name: "Nguyễn Văn An",
        
    },
    {
        id: "B21DCCN345",
        name: "Đào Văn Bình",


    },
    {
        id: "B21DCCN676",
        name: "Đào Mai Anh",

    },
    {
        id: "B21DCCN444",
        name: "Dương Sỹ Long",
    },
    {
        id: "B21DCCN023",
        name: "Nguyễn Xuân Tuấn",

    },
    {
        id: "B21DCCN356",
        name: "Đào Dương Huy",

    },
    {
        id: "B21DCCN556",
        name: "Nguyễn Thế Duy",

    },
    {
        id: "B21DCCN464",
        name: "Dương Tuấn Hiệp",


    },
]


window.addEventListener("DOMContentLoaded", function(){
    var index=Math.floor(Math.random()*(8))
    var hotenkq = document.getElementById("hotenkq")
    var msvkq = document.getElementById("msvkq")
    var hoten=document.createElement('p')
    hoten.textContent=acc[index].name
var msv=document.createElement('p')
    msv.textContent=acc[index].id

    hotenkq.appendChild(hoten)
    msvkq.appendChild(msv)

})


                  function trove(){
                    window.location.href='../acc_manager.html'
                  }
                                  </script>
    <script src="https://kit.fontawesome.com/983c1d6e7e.js" crossorigin="anonymous"></script>
    <script>document.getElementById("menu-btn").addEventListener('click', ()=>{
        if(document.getElementById('mobile-menu').style.display=='none'){
            document.getElementById('mobile-menu').style.display='block';
        }
        else{
            document.getElementById('mobile-menu').style.display='none';
        }
    }) 
    </script>
</body>
</html>