<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kết Quả Bài Thi</title>
    <link rel="stylesheet" href="/styles001.css">
    <script src="/script002.js" defer></script>
</head>
<body id="userResultDetail" style="display:none">
<div class="page" >
    <header class="header-container" id="menu-header" >
        <div class="left-menu">
            <a href="/student/exam" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
            <a href="/student/exam" class="menu-item">Trang chủ</a>
            <a href="/student/allResult" class="menu-item">Kết quả</a>
        </div>
        <div class="right-menu">
            <a href="/student" onclick="return DangXuat();" class="menu-item">Đăng xuất</a>
        </div>
    </header>
    <header class="header-container-mobile">
        <div class="left-menu">
            <a href="user-main.html" class="menu-logo">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png" alt="">
                <h3>PTIT EXAM</h3>
            </a>
        </div>
        <div class="right-menu">
            <button  class="menu-item" id="menu-btn"><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>


    <div class="body">
        <main>

            <div class="mobile-menu" id="mobile-menu">
                <a href="user-main.html">Trang chủ</a>
                <a href="index.html">Đăng xuất</a>
            </div>

            <div class="Result" id="examInfo" >

            </div>

            <div class="review-btn">
                <button class="review-button" onclick="reviewAnswers()">Xem Đáp Án</button>
            </div>
            <div id="out" style="display: none;">

            </div>
        </main>
    </div>
</div>
<script src="https://kit.fontawesome.com/983c1d6e7e.js" crossorigin="anonymous"></script>
<script>document.getElementById("menu-btn").addEventListener('click', ()=>{
      if(document.getElementById('mobile-menu').style.display=='none'){
          document.getElementById('mobile-menu').style.display='block';
      }
      else{
          document.getElementById('mobile-menu').style.display='none';
      }
  })
  function reviewAnswers(){

    if(document.getElementById("out").style.display === "none"){
        document.getElementById("out").style.display = "block";
        document.getElementsByClassName("review-button")[0].innerHTML = "Ẩn Đáp Án";
        return;
    }
    document.getElementsByClassName("review-button")[0].innerHTML = "Xem Đáp Án";
    document.getElementById("out").style.display = "none";
  }
</script>
</body>
</html>