<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/983c1d6e7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./b21dccn747/styles.css">
</head>
<body>
    <div class="chart-container">
        <div class="chart-header">
            <div class="header-left">         
                <h1>Bài kiểm tra</h1>
                <button class="print-btn"><i class="fa-regular fa-file-pdf"></i></button>
            </div>  
            <div class="header-item">
                
                <button id="close-chart-btn">Đóng</button>
            </div>
        </div>
        <div class="chart-body">
            <div class="chart-row">
                <canvas id="doughnut"></canvas>
                <h5>Tỉ lệ hoàn thành</h5>
            </div>
            <div class="chart-row-2">
                <canvas id="barChart"></canvas>
                <h5>Phổ điểm</h5>
            </div>         
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./b21dccn747/chart1.js"></script>
    <script src="./b21dccn747/chart2.js"></script>
</body>
</html>